branches:
  only: master

services:
- docker

deploy:
  provider: script
  script: bash docker_push
  on:
    branch: master

env:
  global:
  - secure: 1jqKEjYt0sazLetA+C3aKG8RV2eEmD2ZIwraksfHeh6bt5MZFIxyAppLSS3uJzf78HdCvUaMPl2yuJbjsdqqMLfWi3dvav6A81GXPzIkDWjywEsUzz9IkX+suLYCuLow+LdVP+fKjFaDz+OC7uVMjW2O4Hy+eKKNqea7frz5rjVlMjS1+UsB+zD1oYgMPo0tbu1jDeH30pp3hwmXKLbULxkmbC3MH48RKyoIsUsb3IYedSm7+lyPlZM+nruqWDQoKR9+eeHLVA00EKF2gasUp5TeUwdnUaXEuDMGjtCvrCUpKiPWNawpu/equO2Y1ledV+m9VxNllEr/2SsOFl3E8XM8K6hp49l8uH7cJSBoSq/zjUuxR8UdnpGxxneQ81lpUbvQ/EN84ROyXofjZNkkbDVPDQO0fGJDEFA6bLnaoL13MAXvKjh8Mi8jbPzJSnj72sBOiol37ERP525Hbkw3Y2WanA3jAMT2Dc+aUFhnnjljwWF4lVttmvdrzX9ga0QP+2bqhZ1MpZfYlc0HCWvnLWFAHQYSnCBT3E9V4BLF6tt/yTouwFKUtpSzArn8o7q6Nt28OnbFbxnRdeky+NCg/xjr371vyDNinjA3oIyiYxlEYLmrzdVKxFFKZIkGKs+SrtAur21x89x5ZN9xQk/VpHufRwZcUDLxHVYbd5X6d58=
  - secure: rY4YpsO4NvmTDULUYupcTxwlE1yC2q0u9eQ77Zqu/h721bht9DzbSqizLYHIbjlCX9TfXAc6lPcOWfIB6ahfjAndvskbrfgf6/oH/iQ3nV0JA/XoFOKhSxM9zr7vrZoURlEZxJYAqe51Bqqt56G2urBrUKQDh2p0V9dkiTGtc9sSbVDurPRh+Td8aouSqVF36GMcDt4zegGyXV8xnCLzpBmPo2+EncB+PR005GZ6c6Owl/1wvW16RwPxXnFp6pYZuil3gzdIX/C//t2JHvFSP6hdEn+e8FYiXjhE428oGkM1oKLUEv/f4Mvrmxxog6XuBU9g3EEm84iq1+tsxuokB82YvJiuCogOj+HZJhRq0p2NBJnYennUyZjKqVkuFxH/PRBxLrE2VSGluy7oHdF/jl1rj9Qv9IdccxJDaUcQyHW7NNP4NafCsmqFTunp8idMG4Bild+PRZr/D21RbuS2CfZgnFJF6h5HIyuk8SnOYbLnqk2IlFsRWRj1QCNoiMa3AS4o07wMmt5F3GSaS2IvQMUPS9/uGTnuXntSXU/VVIQ4FnR1gQLwYYCqaChxKQzKbD/rrI/zEhWML7/BQbgU+FZrup4VasqMKGUIyKhtBudWCHkgcy01wykYLRsurRxnAq7sigImqPXaVWDdTasiz/Ew46GXp9u0KJvavhwrM34=
